.mainLogo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: contain;
  opacity: 0.2;
}

.PuzzleWrapper {
  display: flex;
  flex-direction: column;
  color: green;
  justify-content: center;
  align-items: center;
}

.score {
  margin-bottom: 24px;
}

.classic {
  padding: 24px;
  color: red;
  animation: linear alternate;
  animation-name: bottomRun;
  animation-duration: .8s;
}

.puzzle {
  padding: 24px;
  color: green;
  animation: linear alternate;
  animation-name: leftRun;
  animation-duration: .8s;
}

.puzzle strong {
  color: red;
}

.classic strong {
  color: green;
}

strong, span {
  font-size: 24px;
}


.inputWrapper {
  margin-top: 8px;
  height: 24px;
}

input {
  height: 24px;
  width: 220px;
  color: green;
  background-color: transparent;
}


.heron, .heronLogo {
  width: 250px;
  height: 250px;
  opacity: 0.8;
}

.heron {
  position: absolute;
  bottom: 10%;
  position: absolute;
  animation: linear infinite alternate;
  animation-name: pahom;
  animation-duration: 3s;
}

@keyframes pahom {
  0% { left: 0; bottom: 20%; }
  100% { left: 80%; bottom: 50%; }
}

@keyframes leftRun {
  0% { transform: translateX(-400px); opacity: 0; }
  100% { transform: translateX(0);  opacity: 1; }
}

@keyframes bottomRun {
  0% { transform: translateY(400px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
